# Live Coding Assignment
Module 3: Working With JSON Data

In [1]:
import numpy as np
import pandas as pd
import requests
import json

In [2]:
url = 'https://www.thecocktaildb.com/api/json/v1/1/filter.php?c=Cocktail'

In [3]:
r = requests.get(url)
r

In [6]:
myjson = json.loads(r.text)

# json.loads() string -> dictionary/lists; s means string
# json.load() stream -> dictionary/lists; this expects an external file
# json.dumps() dictionary/list -> string; s means string
# json.dump() dictionary/list -> stream; this expects an external file

In [7]:
myjson['drinks'][0]['strDrinkThumb']

'https://www.thecocktaildb.com/images/media/drink/yqvvqs1475667388.jpg'

In [9]:
[x['strDrinkThumb'] for x in myjson['drinks']][0:5]

['https://www.thecocktaildb.com/images/media/drink/yqvvqs1475667388.jpg',
 'https://www.thecocktaildb.com/images/media/drink/qyyvtu1468878544.jpg',
 'https://www.thecocktaildb.com/images/media/drink/i9suxb1582474926.jpg',
 'https://www.thecocktaildb.com/images/media/drink/xvwusr1472669302.jpg',
 'https://www.thecocktaildb.com/images/media/drink/wysqut1461867176.jpg']

In [10]:
pd.json_normalize(myjson, record_path = ['drinks'])

,strDrink,strDrinkThumb,idDrink
0,155 Belmont,https://www.thecocktaildb.com/images/media/dri...,15346
1,57 Chevy with a White License Plate,https://www.thecocktaildb.com/images/media/dri...,14029
2,747 Drink,https://www.thecocktaildb.com/images/media/dri...,178318
3,9 1/2 Weeks,https://www.thecocktaildb.com/images/media/dri...,16108
4,A Gilligan's Island,https://www.thecocktaildb.com/images/media/dri...,16943
...,...,...,...
95,Michelada,https://www.thecocktaildb.com/images/media/dri...,178343
96,Midnight Mint,https://www.thecocktaildb.com/images/media/dri...,14842
97,Mojito,https://www.thecocktaildb.com/images/media/dri...,11000
98,Mojito Extra,https://www.thecocktaildb.com/images/media/dri...,15841
99,Mountain Bramble,https://www.thecocktaildb.com/images/media/dri...,178355

In [11]:
url = 'https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Virginia&format=json&srlimit=500'
r = requests.get(url)
r

In [12]:
myjson = json.loads(r.text)
wikivirginiadf = pd.json_normalize(myjson, record_path = ['query', 'search'])
wikivirginiadf

,ns,title,pageid,size,wordcount,snippet,timestamp
0,0,Virginia,32432,297339,25683,"<span class=""searchmatch"">Virginia</span>, off...",2023-01-28T19:08:31Z
1,0,West Virginia,32905,183261,17506,"West <span class=""searchmatch"">Virginia</span>...",2023-01-29T20:30:07Z
2,0,"Virginia Beach, Virginia",91239,130491,11788,"<span class=""searchmatch"">Virginia</span> Beac...",2023-01-31T15:42:01Z
3,0,Virginia Woolf,32742,329612,31706,"Adeline <span class=""searchmatch"">Virginia</sp...",2023-01-29T16:50:04Z
4,0,"Norfolk, Virginia",57898,141027,13515,(/ˈnɔːrfʊk/ (listen) NOR-fuk) is an independen...,2023-01-26T04:19:08Z
...,...,...,...,...,...,...,...
495,0,1965 Virginia gubernatorial election,43329687,20579,175,"In the 1965 <span class=""searchmatch"">Virginia...",2022-06-26T00:19:53Z
496,0,Virginia Brown Faire,4620736,9873,869,"<span class=""searchmatch"">Virginia</span> Brow...",2022-12-03T20:41:08Z
497,0,"Accomack County, Virginia",91369,23813,1659,"edge of the Commonwealth of <span class=""searc...",2022-12-25T22:03:53Z
498,0,West Virginia State Board of Education v. Barn...,157960,30594,3771,"West <span class=""searchmatch"">Virginia</span>...",2023-01-08T15:08:40Z
499,0,West Virginia's congressional districts,21551047,4559,212,"The U.S. state of West <span class=""searchmatc...",2023-01-07T17:42:30Z

In [17]:
mykey = '38455d259a1b4b9098fbb79441fab63d'
myparams = {
    'apiKey': mykey,
    'q': 'gorilla'
}
url = 'https://newsapi.org/v2/everything'
r = requests.get(url, params = myparams)
r

In [21]:
mydata = pd.json_normalize(json.loads(r.text), record_path = ['articles'])
print(mydata.content[5])

Two monkeys have allegedly been taken from Dallas Zoo - adding to a series of suspicious events including the release of a leopard and a vulture's death.
Police were alerted on Monday when keepers f… [+1831 chars]