# Calculate Posteriors For Means For Patients With And Without CHD

Created: 2023-09-09 by Tom Lever

Updated: 2023-09-09 by Tom Lever

The data set `CHDdata.csv` contains cases of coronary heart disease (CHD) and variables associated with the patient's condition: systolic blood pressure (`sbp`, $mm \ Hg$), yearly tobacco use (`tobacco`, $kg$), low-density lipoprotein (`ldl`), adiposity (`adiposity`), famly history of CHD (`famhist`, 0 or 1), type-A personality score (`typea`), obesity (`obesity`), alcohol use (`alcohol`), age (`age`, $years$), and the diagnosis of CHD (`chd`, 0 or 1).

Perform a Bayesian analysis of these data that finds the posterior marginal probability distributions for the means for the data of patients with and without CHD. You should first standardize (i.e., subtract the mean from and divide by the standard deviation) all the numeric variables (remove family history and do not scale CHD). Then separate the data into two sets, one for patients with CHD and one for patients without CHD.

Your priors for both groups should assume means of $0$ for all variables and a correlation of $0$ between all pairs of variables. You should assume all variables for the variables are $1$. Use a prior $alpha$ equal to $1$ plus the number of predictor variables. Compute and compare the Bayesian estimates for the posterior means for each group.

For $5$ extra credit points, compute the probability of observing a point at least as extreme as the posterior mean of patients without CHD under the posterior distribution for the patients with CHD. Then compute the probability of observing a point at least as extreme as the posterior mean of patients with CHD under the posterior distribution for the patients without CHD.

In [1]:
import pandas as pd
data_frame_of_patient_characteristics_and_indicators_of_CHD = pd.read_csv('CHDdata.csv')
data_frame_of_patient_characteristics_and_indicators_of_CHD

,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
0,160,12.00,5.73,23.11,Present,49,25.30,97.20,52,1
1,144,0.01,4.41,28.61,Absent,55,28.87,2.06,63,1
2,118,0.08,3.48,32.28,Present,52,29.14,3.81,46,0
3,170,7.50,6.41,38.03,Present,51,31.99,24.26,58,1
4,134,13.60,3.50,27.78,Present,60,25.99,57.34,49,1
...,...,...,...,...,...,...,...,...,...,...
457,214,0.40,5.98,31.72,Absent,64,28.45,0.00,58,0
458,182,4.20,4.41,32.10,Absent,52,28.61,18.72,52,1
459,108,3.00,1.59,15.23,Absent,40,20.09,26.64,55,0
460,118,5.40,11.61,30.79,Absent,64,27.35,23.97,40,0
461,132,0.00,4.82,33.41,Present,62,14.70,0.00,46,1